@charset "ISO-8859-1";

img{
	
	width: 100%;
}
.login {
    height: 1000px;
    width: 100%;
    background: #d9d8d0;
    position: relative;
}
body{
	background:#d9d8d0;
}

.bigTabletd{
	padding:25px;
    border-radius: 8px;
}

.bigtabell{
	 border-radius: 8px;
}

.classes{
	
position:relative;


  left: 50px;
  right: 0px;
  
}

.table-header{
	position:relative;
  right: 20px;
}

.colomns{
  position:relative;
  right: 55px;
}
.elements{
	position:relative;
  right: 35px;
}

.cells{
	position:relative;
	left:20px;
}


.addstudent{
  position:relative;
  top: 50px;
  bottom: 0px;
  left: 70px;
  right: 0px;
  height:100;
}
.tables{
  position:relative;
  top: 50px;
  bottom: 0px;
  left: 70px;
  right: 0px;
  margin: auto;
  border-radius: 8px;
}
.loginbox {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
   
}

.loginbox .left{
  width: 400%;
  height: 100%;
  padding: 25px 25px;
  
}

.left .contact{
	
	display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 73%;
    margin: auto;
    flex-direction: column;
    
}


div.photo {
  top: 500px;
  bottom: 0px;
  left: 30px;
  right: 0px;
}
.loginbox .right{
  width: 59%;
  height: 100%  
}

.tHeader{
	color:white;
}
.tHeader2{
	position:relative;
	color:white;
	 top: 12px;
	 left:37px;
}

.tHeader1{
	position:relative;
	color:white;
	 bottom: 55px;
	 
}
.Selement{
	position:relative;
	bottom:60px;
}
.Sselement{
	position:relative;
	left:15px;
}
.tCol{
	position: relative;
	top:12px;
}

.teachElements{
	position:relative;
	top:12px
}
.Telement{
	position: relative;
	left: 25px;
}
.Teelement{
	position: relative;
	left: 50px;
}
.submit {
	background: #76320a;
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 40px;
    
    color: #ffffff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}

.submit1{
    background: #76320a;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    
}

.submit2{
    background: #76320a;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
}

.left input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.ThirdTable{
	position:relative;
	top:50px;
	left:70px;
	border-radius: 8px;
}
.thElement1{
	position:relative;
	left:180px;
}
.thElement2{
	position:relative;
	left:200px;
}
.thElement3{
	position:relative;
	left:140px;
}
.techerC{
	position:relative;
	right:20px;
}

.thHeader{
	color:white;
	
}

.errorMSG{
	position:relative;
	left: 600px;
	color: red;
	font-size: 20px;
	
}




